html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

section {
    min-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #494949;
    text-transform: uppercase;
}

h2 {
    color: #515151;
}

h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

h4, p {
    font-family: 'Monsterrat', sans-serif;
    color: #494949;
}

hr {
    width: 25px;
    height: 2px;
    background: #494949;
    border: 0;
    margin: 0 auto 40px auto;
}

#logo, li, img {
    transition: all 300ms;
    -webkit-transition: all 300ms -moz-transition: all 300ms -o-transition: all 300ms
}

/* HEADER *************************/

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logo {
    width: 100px;
    float: left;
    margin: 10px 0 0 40px;
}

#logo:hover {
    opacity: 0.5;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 10px 50px 0 0;
}

header nav ul li {
    float: left;
    margin-right: 25px
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    padding-top: 5px;
}

/* HOME *************************/

#home {
    background: url(img/landing.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

#home h1 {
    margin: 240px auto 0 auto;
    font-size: 80px;
}

#home h2 {
    margin: 0 auto 0 auto;
    font-size: 25px;
}

#home img {
    width: 32px;
    margin-top: 150px;
    opacity: 0.7;
}

#home img:hover {
    opacity: 1;
}

/* ABOUT *************************/

#about img {
    width: 240px;
}
#about img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1)
    -moz-transform: scale(1.1)
    -o-transform: scale(1.1)
}

#about h4 {
    font-size: 25px;
}

#about p {
    width: 700px;
    margin: 0 auto 0 auto;
}

/* SERVICES *************************/

#services {
    background-color: #f0f0f0;

}

#specs {
    width: 900px;
    margin: 0 auto 0 auto;
}

#specs ul {
    padding: 0;
}

#specs ul li {
    width: 33.3%;
    float: left;
    margin-bottom: 15px;
}

#specs img {
    width: 280px;
    height: 150px;
    border-radius: 5px;
}

#specs img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05)
    -moz-transform: scale(1.05)
    -o-transform: scale(1.05)
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* CONTACT *************************/

form input, textarea {
    font-family: 'Monsterrat', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px solid;
    border-color: #494949;
}

form input:first-child {
    margin-top: 10px;
}

form input {
    width: 552px;
    height: 30px;
    margin-top: 10px;
}

form textarea {
    width: 550px;
    height: 220px;
    resize: none;
}

.input_text {
    color: #494949;
    padding-left: 10px;
}

::-webkit-input-placeholder {color: #999999;}
::moz-placeholder {}
:-ms-input-placeholder


/* body {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
}
#content {overflow: auto;
}
#nav, #feature, #footer {
    margin: 1%;
    font-family: 'Montserrat', sans-sans-serif;
}
.column1, .column2, .column3 {
        width: 31.3%;
        float: left;
        margin: 1%;
}
.column3 {margin-right: 0%;
}
li {
    display: inline;
    padding: 0.5em;
}
#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
}
#hero, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
} */
